<a class="header-button" *ngIf="fragment" [routerLink]="url" [fragment]="fragment">
  <div class="my-2 mx-sm-2 my-sm-0" (mouseenter)="toggleHover()" (mouseleave)="removeHover()">
    <p class="mb-1 text-center">{{title}}</p>
    <div [@selection]="state"></div>
  </div>
</a>

<a class="header-button" *ngIf="!fragment" [routerLink]="url">
  <div class="my-2 mx-sm-2 my-sm-0" (mouseenter)="toggleHover()" (mouseleave)="removeHover()">
    <p class="mb-1 text-center">{{title}}</p>
    <div [@selection]="state"></div>
  </div>
</a>
