<div class="row justify-content-sm-between my-4">
    <div id="header-logo" class="col-sm d-flex justify-content-center justify-content-sm-start align-items-center mb-3 mb-sm-0" routerLink="/main">
        <img src="assets/entrydell-logo-icon.webp" height="50px" class="me-2">
        <img src="assets/entrydell-logo.png" height="25px">
    </div>
    <div id="header-buttons" class="col-sm d-sm-flex justify-content-sm-end">
        <app-button class="" *ngFor="let page of pages" title="{{page.title}}" url="{{page.url}}" fragment="{{page.fragment}}"></app-button>
    </div>
</div>
