<div id="get-to-know-us-main-page" class="text-center text-sm-start d-flex flex-column align-items-center align-items-sm-start">
    <h1>Get to Know Us</h1>
    <p>The Company «ENTRYDELL S.A.» was founded in May 1998 in Switzerland. The core activity of «ENTRYDELL S.A.» is the
        export sales of medical equipment as well as the realization of investment projects in the social sector and
        some
        separate branches of industry on the condition of «turn-key».</p>
    <div class="button-wrap d-flex justify-content-center align-items-center" routerLink="/partners">
        <p class="text-in-button m-0">Our Partners</p>
    </div>
</div>