.header-style{
  font-family: oswald-medium, sans-serif;
  color: rgb(22, 43, 111);
  font-size: 72px;
  letter-spacing: normal;
  margin: 50px 0;
}

.line-style{
  border: none;
  background-color: rgb(22, 43, 111);
  color: rgb(22, 43, 111);
  height: 1px;
  opacity: 100%;
}

@media(max-width: 576px) {
  .header-style {
    font-size: 48px;
  }
}