<div class="container">
    <div class="row">
        <div class="col-sm">
            <app-button title="Main"></app-button>
        </div>
        <div class="col-sm">
            <app-button title="About"></app-button>
        </div>
        <div class="col-sm">
            <app-button title="Directions"></app-button>
        </div>
        <div class="col-sm">
            <app-button title="Our Partners"></app-button>
        </div>
        <div class="col-sm">
            <app-button title="Contact Us"></app-button>
        </div>
    </div>
</div>