<div id="main-page-history-banner-image">
    <div id="main-page-history-banner-text" class="d-flex flex-column justify-content-center align-items-end">
        <div class="d-flex flex-column align-items-center me-sm-4 me-0">
            <h1>HISTORY OF THE COMPANY</h1>
            <a class="decoration-n" routerLink="/about">
              <div class="read-more-history-button" (mouseenter)="toggleHover()"
                (mouseleave)="removeHover()">
                <p>Read more</p>
                <div [@selection]="state"></div>
              </div>
            </a>
        </div>
    </div>
</div>
