#main-page-history-banner-image {
    position: relative;
    background-image: url('/assets/main-page/company-history-banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    min-height: 50vh;
}

#main-page-history-banner-text {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

#main-page-history-banner-text h1 {
    font-family: oswald-medium, sans-serif;
    font-size: 3rem;
}

.read-more-history-button {
    cursor: pointer;
}

.read-more-history-button > p {
    font-family: lato-light, sans-serif;
    font-size: 1.3rem;
}

@media (max-width: 992px) {
    #main-page-history-banner-image {
        min-height: 40vh;
    }

    #main-page-history-banner-text h1 {
        font-size: 3rem;
        text-align: center;
        transform: none;
    }

    .read-more-history-button > p {
        font-size: 1rem;
        transform: none;
    }
}
