<div class="row justify-content-center">
  <div class="col-sm-6" id="people-image">
<!--    <img src="assets/about-page/people.webp">-->
  </div>
  <div class="col-sm-6 module-wrap">
    <div style="margin-top: 10px" class="d-flex justify-content-center text-style">Company offices</div>
    <app-button style="margin-top: 7px" class="d-flex justify-content-center" title="SWITZERLAND"></app-button>
    <app-button style="margin-top: 7px" class="d-flex justify-content-center" title="BELARUS"></app-button>
    <app-button style="margin-top: 7px" class="d-flex justify-content-center" title="UKRAINE"></app-button>
    <div class="d-flex justify-content-center text-style">Affiliate and service</div>
    <div class="d-flex justify-content-center text-style">companies</div>
    <app-button style="margin-top: 7px" class="d-flex justify-content-center" title="VI-RENT"></app-button>
    <app-button style="margin-top: 7px" class="d-flex justify-content-center" title="BELMEDSERVICE"></app-button>
    <app-button style="margin-top: 7px; margin-bottom: 7px" class="d-flex justify-content-center" title="DM-PROJECT"></app-button>
  </div>
</div>
