.button-wrap{
  display: flex;
  justify-content: center;
  width: 123px;
  height: 44px;
  background-color: rgb(85, 112, 180);
}

.button-wrap:hover{
  background-color: rgb(142, 160, 205);
}

.text-in-button{
  padding-top: 10px;
  padding-right: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  letter-spacing: 2px;
}
