<div class="row justify-content-center">
  <div class="col-sm-6" id="people-image">
  </div>
  <div class="col-sm-6 module-wrap d-flex flex-column justify-content-center align-items-center">
    <div class="text-style">Company offices</div>
    <app-button title="SWITZERLAND"></app-button>
    <app-button title="UKRAINE"></app-button>
    <app-button title="BELARUS"></app-button>
    <div class="text-style">Affiliate and service</div>
    <div class="text-style">companies</div>
    <app-button title="VI-RENT" affiliateUrl="https://vi-rent.by/"></app-button>
    <app-button title="BELMEDSERVICE" affiliateUrl="https://belms.by/"></app-button>
    <app-button title="DM-PROJECT" affiliateUrl="http://www.dm-project.com.ua/"></app-button>
  </div>
</div>
