.module-wrap{
  background-color: rgb(88, 112, 180);
}

.text-style{
  color: white;
  font-family: oswald-medium, sans-serif;
  font-size: 40px;
}

#people-image{
  position: relative;
  background-image: url('/assets/about-page/people.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 100vh;
}

app-button {
  margin-top: 7px;
}

app-button:nth-last-child(1) {
  margin-bottom: 15px;
}

@media (max-width: 992px) {
  #people-image{
    min-height: 30vh;
  }
}
