<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-10 col-md col-lg-8">
      <h1 class="header mb-4 my-sm-5">Healthcare</h1>
      <p class="text-style">
        ENTRYDELL S.A. has been working for more than 20 years in the healthcare field, supplying medical
        equipment to hospitals, clinics and medical centers, completely equipping operation theatres with
        creation and accreditation of «clean rooms», department of anesthesiology and intensive care,
        central sterilization department. ENTRYDELL S.A. fulfills delivery of videoendoscopic equipment,
        equipment for ophtalmology, neurosurgery, endotherapy and endosurgery, anesthesiology and
        critical care medicine, neonatology and pediatrics, laboratory and functional diagnostics, ultrasound
        diagnostics, urology, gynecology, intensive therapy, cardiovascular surgery and many other fields.
      </p>
    </div>
    <div class="row col-lg-8">
      <div class="col-sm mb-4 no-left-padding">
        <img class="big-pic" src="assets/healthcare-page/1.jpg">
      </div>
      <div class="row flex-sm-nowrap">
        <div class="col-sm mb-4 no-left-padding">
          <img class="nrml-pic" src="assets/healthcare-page/2-1.jpg">
        </div>
        <div class="col-sm mb-4">
          <img class="sml-pic" src="assets/healthcare-page/2-2.jpg">
        </div>
      </div>
      <div class="row flex-sm-nowrap">
        <div class="col-sm mb-4 no-left-padding">
          <img class="sml-pic" src="assets/healthcare-page/3-1.jpg">
        </div>
        <div class="col-sm mb-4">
          <img class="nrml-pic" src="assets/healthcare-page/3-2.jpg">
        </div>
      </div>
    </div>
    <h1 class="header  mb-4 my-sm-4 col-sm-8">Partners</h1>
    <div class="d-flex justify-content-evenly col-sm-8" style="margin-left: 38px">
      <div class="flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://global.fujifilm.com/en/" target="_blank">
            <img src="assets/partners/fujifilm.png" class="fujifilm-partner box">
          </a>
          <a href="https://www.merivaara.com/" target="_blank">
            <img src="assets/partners/merivaara.webp" class="merivaara-partner box">
          </a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://www.radiometer.com/" target="_blank">
            <img src="assets/partners/radiometer.png" class="radiometer-partner box">
          </a>
          <a href="https://www.draeger.com/" target="_blank">
            <img src="assets/partners/draeger.png" class="draeger-partner box">
          </a>
        </div>
      </div>
      <div>
        <a href="https://www.zeiss.com/meditec/us/home.html" target="_blank">
          <img src="assets/partners/zeiss.png" class="zeiss-partner">
        </a>
      </div>
      <div class="flex-column">
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://www.baxter.com/" target="_blank">
            <img src="assets/partners/gambro.png" class="gambro-partner box">
          </a>
          <a href="https://www.dornier.com/" target="_blank">
            <img src="assets/partners/dornier-medtech.webp" class="dornier-partner box">
          </a>
        </div>
        <div class="d-flex justify-content-center align-items-center">
          <a href="https://www.karlstorz.com/" target="_blank">
            <img src="assets/partners/karl-storz.png" class="storz-partner box">
          </a>
          <a href="http://www.samsungmedison.com/" target="_blank">
            <img src="assets/partners/samsung_medison.png" class="samsung-partner box">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
