<div class="d-flex flex-column align-items-center">
  <h1 class="header">Healthcare</h1>
  <p class="text-style">
    ENTRYDELL S.A. has been working for more than 20 years in the healthcare field, supplying medical<br />
    equipment to hospitals, clinics and medical centers, completely equipping operation theatres with<br />
    creation and accreditation of «clean rooms», department of anesthesiology and intensive care,<br />
    central sterilization department. ENTRYDELL S.A. fulfills delivery of videoendoscopic equipment,<br />
    equipment for ophtalmology, neurosurgery, endotherapy and endosurgery, anesthesiology and<br />
    critical care medicine, neonatology and pediatrics, laboratory and functional diagnostics, ultrasound<br />
    diagnostics, urology, gynecology, intensive therapy, cardiovascular surgery and many other fields.
  </p>
  <div>
    <div style="margin-bottom: 18px">
      <img src="assets/healthcare-page/1.webp">
    </div>
    <div class="d-flex justify-content-start" style="margin-bottom: 18px">
      <div style="margin-right: 18px">
        <img src="assets/healthcare-page/2-1.webp">
      </div>
      <div>
        <img src="assets/healthcare-page/2-2.webp">
      </div>
    </div>
    <div class="d-flex justify-content-start">
      <div style="margin-right: 18px">
        <img src="assets/healthcare-page/3-1.webp">
      </div>
      <div>
        <img src="assets/healthcare-page/3-2.webp">
      </div>
    </div>
  </div>
  <h1 class="header">Partners</h1>
  <div class="d-flex justify-content-evenly">
    <div class="flex-column">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/partners/fujifilm.webp" class="fujifilm-partner box">
        <img src="assets/partners/merivaara.webp" class="merivaara-partner box">
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/partners/radiometer.webp" class="radiometer-partner box">
        <img src="assets/partners/draeger.webp" class="draeger-partner box">
      </div>
    </div>
    <div>
      <img src="assets/partners/zeiss.webp" class="zeiss-partner">
    </div>
    <div class="flex-column">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/partners/karl-storz.webp" class="storz-partner box">
        <img src="assets/partners/dornier_medtech.webp" class="dornier-partner box">
      </div>
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/partners/gambro.webp" class="gambro-partner box">
        <img src="assets/partners/samsung_medison.webp" class="samsung-partner box">
      </div>
    </div>
  </div>
</div>