.header{
  font-family: oswald-medium, sans-serif;
  font-size: 56px;
  text-align: start;
  color: rgb(22, 43, 111);
}

.text-style{
  font-family: lato-light, sans-serif;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 36px;
  color: rgb(22, 43, 111);
  margin-bottom: 40px;
}

.big-pic{
  width: 878px;
  height: 270px;
  object-fit: cover;
}

.sml-pic{
  width: 339px;
  height: 270px;
  object-fit: cover;
}

.nrml-pic{
  width: 516px;
  height: 270px;
  object-fit: cover;
}

.no-left-padding{
  padding-left: 0;
}

.box{
  margin: 10px 10px;
}

.fujifilm-partner{
  height: 34px;
  width: 132px;
}

.merivaara-partner{
  height: 31px;
  width: 160px;
}

.radiometer-partner{
  height: 23px;
  width: 163px;
}

.draeger-partner{
  height: 47px;
  width: 135px;
}

.zeiss-partner{
  height: 111px;
  width: 139px;
}

.storz-partner{
  height: 47px;
  width: 140px;
}

.dornier-partner{
  height: 61px;
  width: 231px;
}

.gambro-partner{
  height: 34px;
  width: 140px;
}

.samsung-partner{
  height: 23px;
  width: 197px;
}

@media (max-width: 992px) {
  .header {
    font-size: 46px;
  }
}

@media (max-width: 576px) {
  .big-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }

  .sml-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }

  .nrml-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }
}
