<div class="row justify-content-center">
  <div class="col-sm-6" id="city-image"></div>
  <div class="col-sm-6">
<!--    <div class="d-flex justify-content-center text-style">The Company «ENTRYDELL S.A.» was founded in May</div>-->
<!--    <div class="d-flex justify-content-center text-style">1998 in Switzerland. The core activity of «ENTRYDELL S.A.»</div>-->
<!--    <div class="d-flex justify-content-center text-style">is the export sales of medical equipment as well as the</div>-->
<!--    <div class="d-flex justify-content-center text-style">realization of investment projects in the social sector and</div>-->
<!--    <div class="d-flex justify-content-center text-style">some separate branches of industry on the condition of</div>-->
<!--    <div class="d-flex justify-content-center text-style">«turn-key».</div>-->
    <div class="d-flex justify-content-center text-style">
      <p class="text-center">The Company «ENTRYDELL S.A.» was founded in May<br/>
        1998 in Switzerland. The core activity of «ENTRYDELL S.A.»<br/>
        is the export sales of medical equipment as well as the<br/>
        realization of investment projects in the social sector and<br/>
        some separate branches of industry on the condition of<br/>
        «turn-key».</p>
    </div>
    <br>
    <div class="d-flex justify-content-center text-style">The main mission of the company «ENTRYDELL S.A.» is to</div>
    <div class="d-flex justify-content-center text-style">contribute to people’s health, supplying the markets of</div>
    <div class="d-flex justify-content-center text-style">European countries with high-quality equipment and</div>
    <div class="d-flex justify-content-center text-style">advanced technologies from leading West-European</div>
    <div class="d-flex justify-content-center text-style">manufacturers.</div>
    <br>
    <div class="d-flex justify-content-center text-style">For the realization of its mission the company:</div>
    <div class="d-flex justify-content-center text-style">offers high-quality equipment of the brands that enjoy</div>
    <div class="d-flex justify-content-center text-style">won confidence in the sphere;</div>
    <div class="d-flex justify-content-center text-style">develops unique technological solutions, based on the</div>
    <div class="d-flex justify-content-center text-style">latest developments in science and technology;</div>
    <div class="d-flex justify-content-center text-style">carries out investment projects on «turn-key» conditions;</div>
    <div class="d-flex justify-content-center text-style">involves the best specialists, fostering their personal</div>
    <div class="d-flex justify-content-center text-style">growth and professional realization.</div>
  </div>
</div>
