<div class="row justify-content-center">
  <div id="city-image" class="col-sm-6" ></div>
  <div id="about-company-text-block" class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
    <h1 class="header-style">ENTRYDELL S.A.</h1>
    <div class="text-style">
      <p class="text-center">The Company «ENTRYDELL S.A.» was founded in May<br/>
        1998 in Switzerland. The core activity of «ENTRYDELL S.A.»<br/>
        is the export sales of medical equipment as well as the<br/>
        realization of investment projects in the social sector and<br/>
        some separate branches of industry on the condition of<br/>
        «turn-key».</p>
    </div>
    <p class="spacing"></p>
    <div class="text-style">
      <p class="text-center">The main mission of the company «ENTRYDELL S.A.» is to<br/>
        contribute to people’s health, supplying the markets of<br/>
        European countries with high-quality equipment and<br/>
        advanced technologies from leading West-European<br/>
        manufacturers.</p>
    </div>
    <p class="spacing"></p>
    <div class="text-style">
      <p class="text-center">For the realization of its mission the company:<br/>
        offers high-quality equipment of the brands that enjoy<br/>
        won confidence in the sphere;<br/>
        develops unique technological solutions, based on the<br/>
        latest developments in science and technology;<br/>
        carries out investment projects on «turn-key» conditions;<br/>
        involves the best specialists, fostering their personal<br/>
        growth and professional realization.</p>
    </div>
  </div>
</div>
