<app-top-banner></app-top-banner>
<div class="row justify-content-center">
    <div id="directions-block-main-page" class="row col-sm-8">
        <app-direction title="HEALTHCARE" image="healthcare.webp" class="col-sm" routerLink="/healthcare"></app-direction>
        <app-direction title="PHARMACOLOGY" image="pharmacology.webp" class="col-sm" routerLink="/pharmacology"></app-direction>
        <app-direction title="ENGINEERING" image="engineering.webp" class="col-sm" routerLink="/engineering"></app-direction>
    </div>
    <div class="row">
        <app-company-history-banner class="col-sm me-sm-5 mb-4 mb-sm-0" style="padding-left: 0"></app-company-history-banner>
        <app-get-to-know-us class="col-sm mb-4 mb-sm-0"></app-get-to-know-us>
    </div>
    <div class="row">
        <app-contact></app-contact>
    </div>
</div>
