<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-10 col-md col-lg-8">
      <h1 class="header">Engineering</h1>
      <p class="text-style">
        ENTRYDELL S.A. carries out deliveries, installation and maintenance of engineering equipment for<br/>
        medical institutions and the pharmaceutical industry. Laminars, equipment for air conditioning and<br>
        air exchange, equipment for automation.
      </p>
      <div class="row col-lg-8">
        <div class="col-sm mb-4 no-left-padding">
          <a href="assets/engineering-page/1.jpg" data-fancybox>
            <img class="big-pic" src="assets/engineering-page/1.jpg">
          </a>
        </div>
        <div class="row flex-sm-nowrap">
          <div class="col-sm mb-4 no-left-padding" >
            <a href="assets/engineering-page/2-1.jpg" data-fancybox>
              <img class="nrml-pic" src="assets/engineering-page/2-1.jpg">
            </a>
          </div>
          <div class="col-sm mb-4 left-margin">
            <a href="assets/engineering-page/2-2.jpg" data-fancybox>
              <img class="sml-pic" src="assets/engineering-page/2-2.jpg">
            </a>
          </div>
        </div>
        <div class="row flex-sm-nowrap">
          <div class="col-sm mb-4 no-left-padding">
            <a href="assets/engineering-page/3-1.jpg" data-fancybox>
              <img class="sml-pic" src="assets/engineering-page/3-1.jpg">
            </a>
          </div>
          <div class="col-sm mb-4 left-margin">
            <a href="assets/engineering-page/3-2.jpg" data-fancybox>
              <img class="nrml-pic" src="assets/engineering-page/3-2.jpg">
            </a>
          </div>
        </div>
      </div>
      <h1 class="header">Partners</h1>
      <div class="flex-column">
        <div class="d-flex justify-content-evenly align-items-center">
          <a href="https://www.siemens.com/global/en.html" target="_blank">
            <img src="assets/partners/siemens.png" style="height: 50px">
          </a>
          <a href="http://www.padanacleanroom.it/" target="_blank">
            <img src="assets/partners/padana.png" style="height: 60px; margin-bottom: 25px">
          </a>
          <a href="https://www.weger.it/en.html" target="_blank">
            <img src="assets/partners/weger.png" style="height: 50px">
          </a>
          <a href="https://www.flaktgroup.com/" target="_blank">
            <img src="assets/partners/flakt-group.png" style="height: 100px; margin-bottom: 20px">
          </a>
        </div>
        <div class="d-flex justify-content-evenly align-items-center">

        </div>
      </div>
    </div>
  </div>
</div>
