<div class="row justify-content-center">
  <div class="col-sm-6">
    <h1 class="header">Engineering</h1>
    <p class="text-style">
      ENTRIDELL S.A. carries out deliveries, installation and maintenance of engineering equipment for<br/>
      medical institutions and the pharmaceutical industry. Laminars, equipment for air conditioning and<br>
      air exchange, equipment for automation.
    </p>
    <div>
      <div style="margin-bottom: 18px">
        <img src="assets/engineering-page/1.webp">
      </div>
      <div class="d-flex justify-content-start" style="margin-bottom: 18px">
        <div style="margin-right: 18px">
          <img src="assets/engineering-page/2-1.webp">
        </div>
        <div>
          <img src="assets/engineering-page/2-2.webp">
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div style="margin-right: 18px">
          <img src="assets/engineering-page/3-1.webp">
        </div>
        <div>
          <img src="assets/engineering-page/3-2.webp">
        </div>
      </div>
    </div>
    <h1 class="header">Partners</h1>
    <div class="flex-column">
      <div class="d-flex justify-content-evenly align-items-center">
        <img src="assets/partners/siemens.webp" style="height: 60px; width: 252px">
        <img src="assets/partners/weger.webp" style="height: 55px; width: 193px">
      </div>
      <div class="d-flex justify-content-evenly align-items-center">
        <img src="assets/partners/padana2.webp" style="height: 55px; width: 232px">
        <img src="assets/partners/flakt-group.webp" style="height: 100px; width: 245px">
      </div>
    </div>
  </div>
</div>
