<a *ngIf="!affiliateUrl" routerLink="/contact" class="dec-no">
  <div [@selection]="state" class="d-flex justify-content-center align-items-center button-wrap" (mouseenter)="toggleHover()" (mouseleave)="removeHover()">
    <p class="m-0">{{title}}</p>
  </div>
</a>

<a *ngIf="affiliateUrl" (click)="goToAffiliate()" class="dec-no">
  <div [@selection]="state" class="d-flex justify-content-center align-items-center button-wrap" (mouseenter)="toggleHover()" (mouseleave)="removeHover()">
    <p class="m-0">{{title}}</p>
  </div>
</a>
