<div class="row justify-content-center">
  <div class="col-sm-6">
    <h1 class="header">Pharmacology / Sterilization</h1>
    <p class="text-style">
      ENTRIDELL S.A. supplies, assembles and maintains production lines and related equipment for the<br/>
      pharmaceutical industry.<br/>
      ENTRIDELL S.A. carries out the supply of sterilization equipment, creates complex "clean rooms"<br/>
      and departments of central sterilization
    </p>
    <div>
      <div class="top-pic"></div>
      <div class="d-flex justify-content-start" style="margin-bottom: 18px">
        <div style="margin-right: 18px">
          <img src="assets/pharmacology-page/2-1.webp">
        </div>
        <div>
          <img src="assets/pharmacology-page/2-2.webp">
        </div>
      </div>
      <div class="d-flex justify-content-start">
        <div class="small-pic"></div>
        <div>
          <img src="assets/pharmacology-page/3-2.webp">
        </div>
      </div>
    </div>
    <h1 class="header">Partners</h1>
    <div class="row">
      <div class="d-flex justify-content-evenly align-items-center">
        <img src="assets/partners/steriline.webp" class="steriline-partner">
        <img src="assets/partners/bmt.webp" class="bmt-partner">
        <img src="assets/partners/miele.webp" class="miele-partner">
        <img src="assets/partners/pms.webp" class="pms-partner">
      </div>
      <div class="d-flex justify-content-evenly align-items-center" style="margin-top: 10px">
        <img src="assets/partners/padana.webp" class="padana-partner">
        <img src="assets/partners/at-os.webp" class="at-os-partner">
        <img src="assets/partners/steris.webp" class="steris-partner">
      </div>
    </div>
  </div>
</div>
