.header{
  color: rgb(85, 112, 180);
  font-family: oswald-medium, sans-serif;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: normal;
  margin: 50px 0;
}

.text-style{
  font-family: lato-light, sans-serif;
  font-size: 20px;
  letter-spacing: normal;
  line-height: 36px;
  color: rgb(22, 43, 111);
  margin-bottom: 40px;
}

.big-pic{
  width: 878px;
  height: 270px;
  object-fit: cover;
}

.sml-pic{
  width: 339px;
  height: 270px;
  object-fit: cover;
}

.nrml-pic{
  width: 516px;
  height: 270px;
  object-fit: cover;
}

.left-margin{
  margin-left: 23px;
}

.steriline-partner{
  height: 70px;
  width: 252px;
}

.bmt-partner{
  height: 146px;
  width: 99px;
}

.miele-partner{
  height: 95px;
  width: 140px;
}

.pms-partner{
  height: 40px;
}

.padana-partner{
  height: 89px;
  width: 208px;
}

.at-os-partner{
  height: 95px;
}

.steris-partner{
  height: 95px;
  width: 140px;
}

@media (max-width: 992px) {
  .header {
    font-size: 46px;
  }
}

@media (max-width: 576px) {
  .big-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }

  .sml-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }

  .nrml-pic{
    width: 90vw;
    height: 200px;
    object-fit: cover;
  }
}
