<div class="container-sm">
  <div class="row justify-content-center">
    <div class="col-10 col-md col-lg-8">
      <h1 class="header">Pharmacology / Sterilization</h1>
      <p class="text-style">
        ENTRYDELL S.A. supplies, assembles and maintains production lines and related equipment for the<br/>
        pharmaceutical industry.<br/>
        ENTRYDELL S.A. carries out the supply of sterilization equipment, creates complex "clean rooms"<br/>
        and departments of central sterilization
      </p>
      <div class="row col-lg-8">
        <div class="col-sm mb-4 no-left-padding">
          <a href="assets/pharmacology-page/1.jpeg" data-fancybox>
            <img class="big-pic" src="assets/pharmacology-page/1.jpeg">
          </a>
        </div>
        <div class="row flex-sm-nowrap">
          <div class="col-sm mb-4 no-left-padding">
            <a href="assets/pharmacology-page/2-1.jpg" data-fancybox>
              <img class="nrml-pic" src="assets/pharmacology-page/2-1.jpg">
            </a>
          </div>
          <div class="col-sm mb-4 left-margin">
            <a href="assets/pharmacology-page/2-2.jpg" data-fancybox>
              <img class="sml-pic" src="assets/pharmacology-page/2-2.jpg">
            </a>
          </div>
        </div>
        <div class="row flex-sm-nowrap">
          <div class="col-sm mb-4 no-left-padding">
            <a href="assets/pharmacology-page/3-1.jpg" data-fancybox>
              <img class="sml-pic" src="assets/pharmacology-page/3-1.jpg">
            </a>
          </div>
          <div class="col-sm mb-4 left-margin">
            <a href="assets/pharmacology-page/3-2.jpg" data-fancybox>
              <img class="nrml-pic" src="assets/pharmacology-page/3-2.jpg">
            </a>
          </div>
        </div>
      </div>
      <h1 class="header">Partners</h1>
      <div class="row" style="margin-bottom: 20px">
        <div class="d-flex justify-content-evenly align-items-center">
          <a href="https://www.steriline.it/en/home/" target="_blank">
            <img src="assets/partners/steriline.webp" class="steriline-partner">
          </a>
          <a href="https://www.bmt.cz/" target="_blank">
            <img src="assets/partners/bmt.png" class="bmt-partner">
          </a>
          <a href="https://www.miele.de/" target="_blank">
            <img src="assets/partners/miele.png" class="miele-partner">
          </a>
          <a href="https://pmsmedikal.com/home/" target="_blank">
            <img src="assets/partners/pms.png" class="pms-partner">
          </a>
        </div>
        <div class="d-flex justify-content-evenly align-items-center" style="margin-top: 20px">
          <a href="http://www.padanacleanroom.it/" target="_blank">
            <img src="assets/partners/padana.png" class="padana-partner">
          </a>
          <a href="https://www.at-os.com/en/" target="_blank">
            <img src="assets/partners/at-os.png" class="at-os-partner">
          </a>
          <a href="https://www.steris.com/" target="_blank">
            <img src="assets/partners/steris.png" class="steris-partner">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
