@font-face {
    font-family: oswald-medium;
    src: url('assets/fonts/oswald-medium.ttf') format('truetype');
}

@font-face {
    font-family: lato-light;
    src: url('assets/fonts/lato-light.ttf') format('truetype');
}

@font-face {
    font-family: lato-regular;
    src: url('assets/fonts/lato-regular.ttf') format('truetype');
}

:root {
  --fancybox-opacity: 0.6;
}

.row {
  --bs-gutter-x: 0 !important;
}
