@font-face {
    font-family: oswald-medium;
    src: url('assets/fonts/oswald-medium.ttf') format('truetype');
}

@font-face {
    font-family: lato-light;
    src: url('assets/fonts/lato-light.ttf') format('truetype');
}