<div class="row justify-content-center">
  <div id="city-image" class="col-sm-6" ></div>
  <div id="about-company-text-block" class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
    <h1 class="header-style">ENTRYDELL S.A.</h1>
    <div class="text-style">
      <p class="text-center">ENTRYDELL S.A. was founded in May 1998 in Switzerland.<br/>
        The core activity of ENTRYDELL S.A. is wholesale of<br/>
        medical equipment as well as realization of «turn-key»<br/>
        investment projects in Healthcare and Pharmacology.</p>
    </div>
    <p class="spacing"></p>
    <div class="text-style">
      <p class="text-center">ENTRYDELL S.A. offers high-quality equipment and<br/>
        advanced technologies from leading West-European,<br/>
        Japan and Korean manufacturers.</p>
    </div>
    <p class="spacing"></p>
    <div class="text-style">
      <p class="text-center">The company offers high-end equipment, develops<br/>
        unique technological solutions and offers perfect<br/>
        aftersales service and maintenance.</p>
    </div>
    <p class="spacing"></p>
    <div class="text-style">
      <p class="text-center">All service engineers were trained and manufacturers’<br/>
        facilities and got corresponding certificates.</p>
    </div>
  </div>
</div>
