.text-style{
  color: rgb(22, 43, 111);
  font-family: lato-light, sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 30px;
  margin-bottom: 40px;
}

.header-style{
  margin: 50px 0;
  color: rgb(85, 112, 180);
  font-family: oswald-medium, sans-serif;
  font-size: 40px;
  line-height: 54px;
  letter-spacing: normal;
}
