<div class="row justify-content-center" style="background-color: #f8f7f9">
  <div class="col-sm-4 d-flex flex-column justify-content-evenly">
    <h1 class="header-style">CONTACT US</h1>
    <p class="text-style">
      ENTRYDELL S.A. (Switzerland)<br/>
      Zugerstrasse 76B, 6340 Baar, Switzerland<br/>
      for correspondence<br/>
      Oberallmendstrasse 18, 6300 Zug, Switzerland<br/>
      Tel: +41 41 244 00 33<br/>
      office.zug@entrydell.com
    </p>
    <p class="text-style">
      ENTRYDELL S.A. (Ukraine) - Representative office<br/>
      Kudryashova 16 - 385, 03035 Kyiv, Ukraine<br/>
      Tel: +380 44 520 12 24, Fax: +380 44 520 12 45<br/>
      kiev@entrydell.com
    </p>
    <p class="text-style">
      ENTRYDELL S.A. (Belarus) - Representative office<br/>
      Pobediteley Ave 104, 220062 Minsk, The Republic of Belarus<br/>
      Tel: +375 17 227 37 25, Fax:+375 17 227 78 42<br/>
      minsk@entrydell.com
    </p>
    <div class="blank"></div>
  </div>
</div>
